In [2]:
import pandas as pd

In [86]:
d = pd.read_parquet('~/code/de32-kca/data_kca/')

cols = [
        'movieCd', #영화의 대표코드를 출력합니다.
        'movieNm', #영화명(국문)을 출력합니다.
        'load_dt', # 입수일자
        'repNationCd', #한국외국영화 유무
    ]

df = d[cols]

df_G = df[(df['load_dt'] == 20180103) & (d['repNationCd'] == 'G')]
df_G

     movieCd            movieNm   load_dt repNationCd
40  20150976          신과함께-죄와 벌  20180103           G
41  20170590               1987  20180103           G
42  20171909        쥬만지: 새로운 세계  20180103           G
43  20177104              페르디난드  20180103           G
44  20170402                강철비  20180103           G
45  20179462             위대한 쇼맨  20180103           G
46  20174965  극장판 포켓몬스터 너로 정했다!  20180103           G
47  20176947                 원더  20180103           G
48  20174846    뽀로로 극장판 공룡섬 대모험  20180103           G
49  20176082            몬스터 패밀리  20180103           G

In [87]:
df_K = df[(df['load_dt'] == 20180103) & (d['repNationCd'] == 'K')]
df_K

     movieCd          movieNm   load_dt repNationCd
50  20150976        신과함께-죄와 벌  20180103           K
51  20170590             1987  20180103           K
52  20170402              강철비  20180103           K
53  20174846  뽀로로 극장판 공룡섬 대모험  20180103           K
54  20176104        그것만이 내 세상  20180103           K
55  20168161             1급기밀  20180103           K
56  19748089           실록 김두한  20180103           K
57  20165748                꾼  20180103           K
58  20176769            광인옥한흠  20180103           K
59  20175830     돌아와요 부산항애(愛)  20180103           K

In [92]:
df_m = df_G.merge(df_K, on=['movieCd', 'movieNm', 'load_dt'], how='left')
df_m

    movieCd            movieNm   load_dt repNationCd_x repNationCd_y
0  20150976          신과함께-죄와 벌  20180103             G             K
1  20170590               1987  20180103             G             K
2  20171909        쥬만지: 새로운 세계  20180103             G           NaN
3  20177104              페르디난드  20180103             G           NaN
4  20170402                강철비  20180103             G             K
5  20179462             위대한 쇼맨  20180103             G           NaN
6  20174965  극장판 포켓몬스터 너로 정했다!  20180103             G           NaN
7  20176947                 원더  20180103             G           NaN
8  20174846    뽀로로 극장판 공룡섬 대모험  20180103             G             K
9  20176082            몬스터 패밀리  20180103             G           NaN

In [93]:
df_d = df_m.drop(columns='repNationCd_x').reset_index(drop=True)

In [94]:
df_d

    movieCd            movieNm   load_dt repNationCd_y
0  20150976          신과함께-죄와 벌  20180103             K
1  20170590               1987  20180103             K
2  20171909        쥬만지: 새로운 세계  20180103           NaN
3  20177104              페르디난드  20180103           NaN
4  20170402                강철비  20180103             K
5  20179462             위대한 쇼맨  20180103           NaN
6  20174965  극장판 포켓몬스터 너로 정했다!  20180103           NaN
7  20176947                 원더  20180103           NaN
8  20174846    뽀로로 극장판 공룡섬 대모험  20180103             K
9  20176082            몬스터 패밀리  20180103           NaN

In [99]:
df_N = df_d[df_d['repNationCd_y'].notnull()]
df_N = df_N.rename(columns={'repNationCd_y': 'nationCd'})
df_N

    movieCd          movieNm   load_dt nationCd
0  20150976        신과함께-죄와 벌  20180103        K
1  20170590             1987  20180103        K
4  20170402              강철비  20180103        K
8  20174846  뽀로로 극장판 공룡섬 대모험  20180103        K